.shop-name:focus,
.shop-name {
  color: white;
  margin-left: 1rem;
}

.search {
  margin-left: 2rem !important;
}

.cart-counter {
  left: 111% !important;
}

.cart-link:focus,
.cart-link {
  color: white;
}
